/* styles go here */
.form-field:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}

.form-area:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}

.form-area .textarea {
  display: block;
  margin-bottom: 10px;
}
